<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../../assets/html logo.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showUnits]="false"
            [showImage]="true"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/css logo.png'"
        [imageHeight]="80"
        [imageWidth]="55"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Bootstrap_logo.svg.png'"
        [imageHeight]="70"
        [imageWidth]="80"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Figma-1-logo.png'"
        [imageHeight]="75"
        [imageWidth]="95"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Git-Icon-1788C.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/javascript-39400.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/java logo.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/MySQL-logo.png'"
        [imageHeight]="70"
        [imageWidth]="85"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/Python-logo-notext.svg.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/React-icon.svg.png'"
        [imageHeight]="70"
        [imageWidth]="80"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/angular logo.png'"
        [imageHeight]="80"
        [imageWidth]="70"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
        [percent]="85"
        [radius]="100"
        [imageSrc]="'../../../assets/spring-3-logo-png-transparent.png'"
        [imageHeight]="80"
        [imageWidth]="80"
        [showUnits]="false"
        [showImage]="true"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../../assets/comprometido.png'"
            [imageHeight]="60"
            [imageWidth]="80"
            [showUnits]="false"
            [showImage]="true"
            [title]="'Comprometido'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../../assets/comunicacion.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [showImage]="true"
            [title]="'Comunicación'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../../assets/creativo.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [showImage]="true"
            [title]="'Creativo'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../../assets/flexibilidad.png'"
            [imageHeight]="80"
            [imageWidth]="80"
            [showUnits]="false"
            [showImage]="true"
            [title]="'Flexibilidad'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../../assets/organizacion.png'"
            [imageHeight]="90"
            [imageWidth]="80"
            [showUnits]="false"
            [showImage]="true"
            [title]="'Organización'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-2 col-lg-2" id="circle-progress">
        <circle-progress 
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../../../assets/trabajo en equipo.png'"
            [imageHeight]="60"
            [imageWidth]="80"
            [showUnits]="false"
            [showImage]="true"
            [title]="'Trabajo en equipo'"
            [titleColor]="'red'"
            [titleFontSize]="'2em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="500"
        > </circle-progress>
    </div>
</div>
