<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto 1</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit nostrum quaerat mollitia. Tempora amet aspernatur sequi. Quis perferendis mollitia iste dolorum voluptates natus tempora totam, atque possimus alias officia doloribus!</p>
        </div>
        <div class="col-sm-12 col-md-3 -col-lg-3 offset-md-1 offser-lg-1 parte2">
            <img src="../../../assets/facebook.png" alt="proyecto imágen 1" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
