<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil 1-2.jpg" alt="imágen de perfil" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Emanuel Adrían Lamberti</p>
        <p>FullStack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis cumque optio odio! Alias blanditiis ducimus neque expedita dignissimos, sequi maiores consequuntur voluptatum, ipsam corrupti, facere in consectetur a hic labore.</p>
        </span>
    </div>
</div>
