<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil 1-2.jpg" alt="imágen de perfil" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" id="nombreCompleto">
        <p id="nombre">Emanuel Adrían Lamberti</p>
        <p id="profesion">FullStack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" id="texto">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy un programador capacitado en crear soluciones digitales mediante páginas web. Empecé a adentrarme en el mundo IT hace tres años con Desarrollo BackEnd, y ahora me estoy centrando en el FrontEnd para complementarlo con mis conocimientos como Diseñador Gráfico y Munltimedia.
            <br>    Me considero una persona creativa, que sabe trabajar en grupo, comprometido, proactivo, y capaz de formular ideas y llevarlas a cabo.</p>
        </span>
    </div>
</div>
